<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Iamops Users</title>




    <link href="/dist/css/styles.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- For texteditor ##################################################-->
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    
    <!-- For tagging ##################################################### -->
     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.css">
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.js"></script>

    <!-- for taging #####################################################     -->

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />




</head>
<style>
    #toast {
      visibility: hidden;
      max-width: 50px;
      height: 50px;
      /*margin-left: -125px;*/
      margin: auto;
      background-color: rgb(42, 41, 41);
      color: #fff;
      text-align: center;
      border-radius: 2px;
  
      position: fixed;
      z-index: 1;
      left: 0;right:0;
      top: 50px;
      font-size: 17px;
      white-space: nowrap;
  }
  #toast #img{
      width: 50px;
      height: 50px;
      
      float: left;
      
      padding-top: 16px;
      padding-bottom: 16px;
      
      box-sizing: border-box;
  
      
      background-color: #111;
      color: #fff;
  }
  #toast #desc{
  
      
      color: #fff;
     
      padding: 16px;
      
      overflow: hidden;
      white-space: nowrap;
  }
  
  #toast.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
  }
  
  @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;} 
      to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes expand {
      from {min-width: 50px} 
      to {min-width: 350px}
  }
  
  @keyframes expand {
      from {min-width: 50px}
      to {min-width: 350px}
  }
  @-webkit-keyframes stay {
      from {min-width: 350px} 
      to {min-width: 350px}
  }
  
  @keyframes stay {
      from {min-width: 350px}
      to {min-width: 350px}
  }
  @-webkit-keyframes shrink {
      from {min-width: 350px;} 
      to {min-width: 50px;}
  }
  
  @keyframes shrink {
      from {min-width: 350px;} 
      to {min-width: 50px;}
  }
  
  @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;} 
      to {bottom: 60px; opacity: 0;}
  }
  
  @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 60px; opacity: 0;}
  }
  </style>
<body>
    <div>
        <%- include('./partitions/header'); %>
    </div>
    <div id="toast"><div id="img">Status</div><div id="desc">App Added Successfully</div></div>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="..." class="rounded mr-2" alt="...">
          <strong class="mr-auto">Bootstrap</strong>
          <small>11 mins ago</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
    <!-- <div id="toast1" class="toast1"><div id="img">Icon</div><div id="desc">Already Exist App..</div></div> -->

    <div id="layoutSidenav">
        <%- include('./partitions/sidebar') %>
            <div id="layoutSidenav_content">    
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">IAMOPS USER DETAILS</h1>
                        <div id="messages" class="hide" role="alert">
                            <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span -->
                            <!-- aria-hidden="true">&times;</span></button> -->
                            <div id="messages_content"></div>
                        </div>
                        <!-- <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ol> --> 

                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <!-- <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            Add Application
                                        </button> -->
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <form id="form" method="post">
                                            <div class="row">
                                                <!-- <div class="col">
                                                    <label for="title">App Image</label>
                                                    <input type="text" name="image" ><br>
                                                </div> -->
                                                <div class="col">
                                                    <label for="firstName">First Name</label>
                                                    <input type="text", id="firstName" name="firstName" ><br>
                                                </div>
                                                <div class="col">
                                                    <label for="firstName">Last Name</label>
                                                    <input type="text", id="firstName" name="firstName"><br>
                                                </div>
                                                <div class="col">
                                                    <label for="title">Downloads set to 0</label>
                                                    <input type="text", id="downloads" name="downloads" ><br>
                                                </div>
                                           
                                               
                                                    
                                                
                                            </div><br>



                                           


                        
                                            <br><br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                                            <div class="row">
                                                <div class="col">
                                                    <input value="" name="updateId" id="edit" type="hidden">
                                                    <button id="form" type="submit" class="btn btn-primary" placeholder="submit">
                                                        Submit </button>
        
                                                </div>
                                              
                                            </div>  
                                           
                                    </div>
                                     
                                </div>
                            </div>
                        </div>
                        <form action="/downloadCsv" method="get">
    
                            <!-- <h5>Download Excel sheet of below data </h5>
                <button type="hello" class="btn btn-warning btn-lg">Download</button> -->
            </form>  


                        <div class="card mb-4">
                            <p id="para"></p>

                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th scope="col">

                                                    <span><input id="select_all" type="checkbox"></span><button
                                                        class="btn" id="deleteAcc"><i class="fa fa-trash"
                                                            style="color: red;"></i></button>
                                                </th>
                                                <th>Name</th>
                                                <th>Company Email</th>
                                                <th>Personal Email</th>
                                                <th>Age</th>
                                                <th>Education</th>
                                                <th>Contact No</th>
                                                <th>Department</th>
                                                <th>Designation</th>
                                                
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <% records.forEach(function(d){ %>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" value="<%= d._id %>">
                                                    </td>
                                                    <td>
                                                        <%= d.firstName +" "+ d.lastName %>
                                                    </td>
                                                    <td>
                                                        <%= d.email %>
                                                    </td>
                                                    <td>    
                                                        <%= d.personal_email %>
                                                    </td>
                                                    <td>    
                                                        <%= d.age %>
                                                    </td>
                                                    <td>    
                                                        <%= d.education %>
                                                    </td>
                                                    <td>    
                                                        <%= d.contactNo %>
                                                    </td>
                                                    <td>    
                                                        <%= d.dept %>
                                                    </td>
                                                    <td>    
                                                        <%= d.designation %>
                                                    </td>
                                                </tr>
                                                <% }) %>

                                        </tbody>

                                    
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>


            </div>
    </div>
    <div class="container">
    
        
            <div class="text-center">
                <p>Developed by <a href="https://iamops.io/">IAMOPS PVT LTD</a>.</p>
                
            </div>
        
        </div>
        </div>

</body>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
 crossorigin="anonymous"></script> -->
<script src="/dist/js/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script> -->
<script src="/dist/assets/demo/datatables-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    // $(".selector").flatpickr(optional_config);

    $('#summernote').summernote();

</script>

<script type="text/javascript">
    $(".tm-input").tagsManager();
</script>

<script>


    $(document).ready(function () {

     $('.js-example-basic-multiple').select2()
        $("#select_all").change(function () {  //"select all" change 
            console.log("all chekced");
            var status = this.checked; // "select all" checked status
            $('input:checkbox').each(function () { //iterate all listed checkbox items
                console.log('everyone checked');
                this.checked = status; //change ".checkbox" checked status
            });
        });

        $('input:checkbox').change(function () {
            console.log('selected checked');
            if (this.checked == false) {
                $("#select_all")[0].checked = false;
            }


            if ($('input:checkbox:checked').length == $('input:checkbox').length - 1) {
                $("#select_all")[0].checked = true;
            }
        });


        $('#deleteAcc').on('click', function () {
            var item = [];
            if ($('input:checkbox:checked').length > 0) {
                $('input:checkbox:checked').each(function () {

                    item.push($(this).attr('value'));
                    item = item.filter(function (element) {
                        return element !== undefined
                    })

                });
                var cnfrm = confirm("do you really want to delete data")
                if (cnfrm) {
                    delTable(item);
                }
            }
            console.log(item);
        });
        function delTable(item) {
            $.ajax({
                type: 'POST',
                url: "/deleteApp",
                data: { item: item },
                success: function (data) {
                    location.reload();
                }
            });                     
        }

    });
        

  

</script>



    

   



</script>


</html>